<!-- Dědí základní šablonu base.html -->
{% extends "base.html" %}
<!-- Vložení informace do bloku titulu stránky -->
{% block title %}Champion List{% endblock %}
<!-- Obsahový blok stránky -->
{% block content %}
    <div class="row mb-3">
        <div class="col-sm-12 bg-warning">
            <h2 class="display-4 text-center">Champion List</h2>
        </div>
    </div>
    <div class="row">
        {% for champion in champions %}
            <div class="col-sm-3">
                <div class="card">
                    {% if champion.image %}
                         <img class="card-img-top" src="{{ champion.image.url }}" alt="{{ champion.name }}">
                     {% endif %}
                    <div class="card-body">
                        <h4 class="card-title">{{ champion.name }}</h4>
                        <p class="card-text"><strong>Class: </strong>{{ champion.champ_Class }} </p>
                        <a href="#" class="btn btn-primary">Podrobnosti</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}