{% extends "base.html" %}
{% block content %}
    <div class="row mt-3 mb-3 bg-warning p-3">
        <div class="col-sm-12">
            <h2 class="text-center">First 12 Champions</h2>
        </div>
    </div>
    <div class="row">
        {% for champion in champions %}
            <div class="col-sm-2">
                <div class="card">
                    {% if champion.image %}
                         <img class="card-img-top" src="{{ champion.image.url }}" alt="{{ champion.name }}">
                     {% endif %}
                    <div class="card-body">
                        <h4 class="card-title">{{ champion.name }}</h4>
                        <p class="card-text"><strong>Class: </strong>{{ champion.champ_Class }} </p>
                        <a href="{% url 'champions' champion.pk %}" class="btn btn-primary">Champion INFO</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
